In [2]:
import numpy as np
import pandas as pd
import pandas as pd
import re

### Extract target job from database (currently pulled from SkillsFuture competency framework)

In [3]:
###load job description data
userdata = '/Users/somethingcreative-7/Documents/Tessas Internship/code/JDoutput.xlsx'
userdata = pd.read_excel(userdata)
userdata['Job Role'] = userdata['Job Role'].apply(lambda x: x.lstrip(' '))
#userdata.head(5)

,Job Role,Track,Sub-track,Occupation,Skills
0,Software Engineer,Software and Applications,Software Engineering,Software Engineer,"Applications Development-Level4,Computational ..."
1,Software Architect,Software and Applications,Software Engineering,Enterprise Architect,"Applications Development-Level5,Communication ..."
2,Artificial Intelligence Applied Researcher,Data and Artificial Intelligence,Artificial Intelligence Applied Research,Artificial Intelligence Applied Researcher,"Business Innovation-Level5,Leadership Advanced..."
3,Data Engineer,Data and Artificial Intelligence,NaN,Data Engineer,"Business Needs Analysis-Level2,Leadership Inte..."
4,Chief Information Officer,Infrastructure/Software and Applications/Oper...,NaN,Chief Information Officer/Chief Technology Of...,"Budgeting-Level6,Leadership Advanced, Business..."

## Extract target job from database (currently pulled from SkillsFuture competency framework)

In [4]:
###user select from dropdown list
target_job= "Data Engineer"

In [5]:
target_job_row = userdata.loc[userdata['Job Role']==target_job]
target_job_df = pd.DataFrame(target_job_row)
target_job_df

,Job Role,Track,Sub-track,Occupation,Skills
3,Data Engineer,Data and Artificial Intelligence,NaN,Data Engineer,"Business Needs Analysis-Level2,Leadership Inte..."

In [6]:
##extract skills col required for job # start with technical skills?
skills_df=pd.DataFrame(target_job_df['Skills'])
##transpose and clean, only technical skills pulled out- contains("-Level[0-9]")
skills_df=skills_df.assign(Skills=skills_df['Skills'].str.split(",")).explode('Skills')
skills_df['Skills'] = skills_df['Skills'].apply(lambda x: x.lstrip(' '))
skills_df = skills_df[skills_df['Skills'].str.contains("-Level[0-9]")]
skills_df['skills_original']=skills_df['Skills']

In [7]:
##extract skill levels into new column
skills_df['expected_level']= skills_df['Skills']
skills_df['expected_level']= skills_df['expected_level'].apply(lambda i: i.rsplit('-Level', 1)[-1])
skills_df['Skills']= skills_df['Skills'].apply(lambda i: i.split("-Level",-1)[0])

skills_df

,Skills,skills_original,expected_level
3,Business Needs Analysis,Business Needs Analysis-Level2,2
3,Change Management,Change Management-Level3,3
3,Computational Modelling,Computational Modelling-Level3,3
3,Configuration Tracking,Configuration Tracking-Level1,1
3,Configuration Tracking,Configuration Tracking-Level1,1
3,Data Design,Data Design-Level3,3
3,Data Engineering,Data Engineering-Level3,3
3,Data Ethics,Data Ethics-Level4,4
3,Data Governance,Data Governance-Level4,4
3,Data Migration,Data Migration-Level3,3
3,Database Administration,Database Administration-Level3,3
3,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4
3,Project Management,Project Management-Level4,4
3,Quality Standards,Quality Standards-Level4,4
3,Security Architecture,Security Architecture-Level3,3
3,Stakeholder Management,Stakeholder Management-Level3,3
3,Strategy Implementation,Strategy Implementation-Level3,3
3,System Integration,System Integration-Level4,4

In [8]:
#prep df for users' inputs
skills_df['user_level']=skills_df['expected_level']
skills_df=skills_df.reset_index(level=None, drop=True, inplace=False)
skills_df

,Skills,skills_original,expected_level,user_level
0,Business Needs Analysis,Business Needs Analysis-Level2,2,2
1,Change Management,Change Management-Level3,3,3
2,Computational Modelling,Computational Modelling-Level3,3,3
3,Configuration Tracking,Configuration Tracking-Level1,1,1
4,Configuration Tracking,Configuration Tracking-Level1,1,1
5,Data Design,Data Design-Level3,3,3
6,Data Engineering,Data Engineering-Level3,3,3
7,Data Ethics,Data Ethics-Level4,4,4
8,Data Governance,Data Governance-Level4,4,4
9,Data Migration,Data Migration-Level3,3,3
10,Database Administration,Database Administration-Level3,3,3
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,4
12,Project Management,Project Management-Level4,4,4
13,Quality Standards,Quality Standards-Level4,4,4
14,Security Architecture,Security Architecture-Level3,3,3
15,Stakeholder Management,Stakeholder Management-Level3,3,3
16,Strategy Implementation,Strategy Implementation-Level3,3,3
17,System Integration,System Integration-Level4,4,4

# user input their own actual skill level

In [9]:
print(str(len(skills_df)) + ' skills found for '+ target_job)

18 skills found for Data Engineer

In [10]:
##iterate down skills list to get user input for each skill
##user's inputs should be based on competency framwork

for i in skills_df['Skills']:
    index= skills_df.index[skills_df['Skills'] == i]
    #get user input
    text= "Enter your proficiency for " + str(i) + " (number from 0-5):"
    new = int(input(text))
    skills_df.at[index, 'user_level']= new
#final df
skills_df

Enter your proficiency for Business Needs Analysis (number from 0-5):0
Enter your proficiency for Change Management (number from 0-5):5
Enter your proficiency for Computational Modelling (number from 0-5):3
Enter your proficiency for Configuration Tracking (number from 0-5):0
Enter your proficiency for Configuration Tracking (number from 0-5):5
Enter your proficiency for Data Design (number from 0-5):3
Enter your proficiency for Data Engineering (number from 0-5):0
Enter your proficiency for Data Ethics (number from 0-5):5
Enter your proficiency for Data Governance (number from 0-5):3
Enter your proficiency for Data Migration (number from 0-5):0
Enter your proficiency for Database Administration (number from 0-5):5
Enter your proficiency for Emerging Technology Synthesis (number from 0-5):3
Enter your proficiency for Project Management (number from 0-5):3
Enter your proficiency for Quality Standards (number from 0-5):3
Enter your proficiency for Security Architecture (number from 0-5):3
Enter your proficiency for Stakeholder Management (number from 0-5):3
Enter your proficiency for Strategy Implementation (number from 0-5):3
Enter your proficiency for System Integration (number from 0-5):3

,Skills,skills_original,expected_level,user_level
0,Business Needs Analysis,Business Needs Analysis-Level2,2,0
1,Change Management,Change Management-Level3,3,5
2,Computational Modelling,Computational Modelling-Level3,3,3
3,Configuration Tracking,Configuration Tracking-Level1,1,5
4,Configuration Tracking,Configuration Tracking-Level1,1,5
5,Data Design,Data Design-Level3,3,3
6,Data Engineering,Data Engineering-Level3,3,0
7,Data Ethics,Data Ethics-Level4,4,5
8,Data Governance,Data Governance-Level4,4,3
9,Data Migration,Data Migration-Level3,3,0
10,Database Administration,Database Administration-Level3,3,5
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,3
12,Project Management,Project Management-Level4,4,3
13,Quality Standards,Quality Standards-Level4,4,3
14,Security Architecture,Security Architecture-Level3,3,3
15,Stakeholder Management,Stakeholder Management-Level3,3,3
16,Strategy Implementation,Strategy Implementation-Level3,3,3
17,System Integration,System Integration-Level4,4,3

## Returning user skill gaps

In [204]:
## Store gap calculation as new column in df
skills_df['gap'] = skills_df.apply(lambda row: int(row.user_level) - int(row.expected_level), axis=1)    
skills_df

,Skills,skills_original,expected_level,user_level,gap
0,Business Needs Analysis,Business Needs Analysis-Level2,2,0,-2
1,Change Management,Change Management-Level3,3,5,2
2,Computational Modelling,Computational Modelling-Level3,3,3,0
3,Configuration Tracking,Configuration Tracking-Level1,1,5,4
4,Configuration Tracking,Configuration Tracking-Level1,1,5,4
5,Data Design,Data Design-Level3,3,3,0
6,Data Engineering,Data Engineering-Level3,3,0,-3
7,Data Ethics,Data Ethics-Level4,4,5,1
8,Data Governance,Data Governance-Level4,4,3,-1
9,Data Migration,Data Migration-Level3,3,0,-3
10,Database Administration,Database Administration-Level3,3,5,2
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,3,-1
12,Project Management,Project Management-Level4,4,3,-1
13,Quality Standards,Quality Standards-Level4,4,3,-1
14,Security Architecture,Security Architecture-Level3,3,3,0
15,Stakeholder Management,Stakeholder Management-Level3,3,3,0
16,Strategy Implementation,Strategy Implementation-Level3,3,3,0
17,System Integration,System Integration-Level4,4,3,-1

In [205]:
##differentiate between skills that the user already has and those that are lacking
#pull out gaps only, into new df
gaps_df = skills_df.loc[skills_df['gap'] < 0]

## Return list of skill gaps (list as input for Reco/similarity measure)
gaps_df

,Skills,skills_original,expected_level,user_level,gap
0,Business Needs Analysis,Business Needs Analysis-Level2,2,0,-2
6,Data Engineering,Data Engineering-Level3,3,0,-3
8,Data Governance,Data Governance-Level4,4,3,-1
9,Data Migration,Data Migration-Level3,3,0,-3
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,3,-1
12,Project Management,Project Management-Level4,4,3,-1
13,Quality Standards,Quality Standards-Level4,4,3,-1
17,System Integration,System Integration-Level4,4,3,-1

In [206]:
#end

## Pull out proficiency description (input for Reco model)

In [207]:
#convert skill gaps into a list as summary for user ##this list not needed in model, will use gaps_df instead  
skillgaps_list = gaps_df['skills_original'].to_list()
skillgaps_list

['Business Needs Analysis-Level2',
 'Data Engineering-Level3',
 'Data Governance-Level4',
 'Data Migration-Level3',
 'Emerging Technology Synthesis-Level4',
 'Project Management-Level4',
 'Quality Standards-Level4',
 'System Integration-Level4']

In [208]:
###load proficiency descriptions data from database
skill_prof_data = '/Users/somethingcreative-7/Documents/Tessas Internship/code/proficiency_description.xlsx'
skill_prof_df = pd.read_excel(skill_prof_data)
skill_prof_df=skill_prof_df.drop(columns=['Description'],axis=1)


skill_prof_df['skill_name']= skill_prof_df['Skill-Level']
skill_prof_df['Level']= skill_prof_df['Skill-Level']

##extract skill name 
skill_prof_df['skill_name']= skill_prof_df['skill_name'].apply(lambda i: i.split("-Level",-1)[0])
##extract level as numeric
skill_prof_df['Level']= skill_prof_df['Level'].apply(lambda i: i.rsplit('-Level', 1)[-1])

In [49]:
skill_prof_df.head()

,Skill-Level,clean,skill_name,Level
0,Software Design-Level1,NaN,Software Design,1
1,Software Design-Level2,NaN,Software Design,2
2,Software Design-Level3,Design simple software components assessing f...,Software Design,3
3,Software Design-Level4,Create a software design blueprint based on a...,Software Design,4
4,Software Design-Level5,Translate complex software ideas and concepts...,Software Design,5

In [209]:
skill_prof_df.shape

(804, 4)

## Determine list of skill-proficiency to pull

In [62]:
### for 1 skill- pull out equvalent skill name from proficiency data

gaps_df

,Skills,skills_original,expected_level,user_level,gap
0,Business Needs Analysis,Business Needs Analysis-Level2,2,0,2
6,Data Engineering,Data Engineering-Level3,3,0,3
8,Data Governance,Data Governance-Level4,4,3,1
9,Data Migration,Data Migration-Level3,3,0,3
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,3,1
12,Project Management,Project Management-Level4,4,3,1
13,Quality Standards,Quality Standards-Level4,4,3,1
17,System Integration,System Integration-Level4,4,3,1

To note 1. Each skill gap should return a list of recommendations
///To note 2. [Exception to 1] If skill gap is too big (~expected_level - user current level > |2|) then the recommendations will be broken into 'basic' and 'intermediate' level. this will be operationalised by splitting up the data for analysis, and running them seperately, giving rise to 2 recommendations)
To note 3. from Skills Future CF, not all proficiency levels have a text description(NA), so will have to pick the next best level.

##### for each skill in the gap list,
if gap is less than 3--> take expected level(x) and extract each level(x-1) until x== users current level + 1

In [210]:
gaps_df['gap']=gaps_df['gap'].apply(int)
gaps_df['gap']=gaps_df['gap'].apply(abs)

/var/folders/xg/4dfknv856n51lr83nj9crvnh0000gn/T/ipykernel_62318/1474247433.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gaps_df['gap']=gaps_df['gap'].apply(int)
/var/folders/xg/4dfknv856n51lr83nj9crvnh0000gn/T/ipykernel_62318/1474247433.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gaps_df['gap']=gaps_df['gap'].apply(abs)

In [212]:
###pull out 'expected level' prof description from skill_prof_df db

reco_gap = pd.DataFrame() 
#def extract_prof_des(gap):

for i in onegap['skills_original']:
    row=skill_prof_df.loc[skill_prof_df['Skill-Level']==i]
    reco_gap=reco_gap.append(row) 
    
#onegap['tag'] = onegap['skills_original'].apply(extract_prof_des)

In [213]:
gaps_df

,Skills,skills_original,expected_level,user_level,gap
0,Business Needs Analysis,Business Needs Analysis-Level2,2,0,2
6,Data Engineering,Data Engineering-Level3,3,0,3
8,Data Governance,Data Governance-Level4,4,3,1
9,Data Migration,Data Migration-Level3,3,0,3
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,3,1
12,Project Management,Project Management-Level4,4,3,1
13,Quality Standards,Quality Standards-Level4,4,3,1
17,System Integration,System Integration-Level4,4,3,1

In [214]:
###create a col in df that pulls out a list of the prof levels the user needs to pick up (numeric)
gaps_df['all_lvls']= gaps_df['expected_level']
for index, row in gaps_df.iterrows():
    x= list(range(int(row.user_level)+1, int(row.expected_level)+1))
    gaps_df.at[index, 'all_lvls']=x
gaps_df

/var/folders/xg/4dfknv856n51lr83nj9crvnh0000gn/T/ipykernel_62318/1757864355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gaps_df['all_lvls']= gaps_df['expected_level']

,Skills,skills_original,expected_level,user_level,gap,all_lvls
0,Business Needs Analysis,Business Needs Analysis-Level2,2,0,2,"[1, 2]"
6,Data Engineering,Data Engineering-Level3,3,0,3,"[1, 2, 3]"
8,Data Governance,Data Governance-Level4,4,3,1,[4]
9,Data Migration,Data Migration-Level3,3,0,3,"[1, 2, 3]"
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,3,1,[4]
12,Project Management,Project Management-Level4,4,3,1,[4]
13,Quality Standards,Quality Standards-Level4,4,3,1,[4]
17,System Integration,System Integration-Level4,4,3,1,[4]

In [249]:
gaps_df['all_lvls_text']=gaps_df['Skills']
gaps_df

/var/folders/xg/4dfknv856n51lr83nj9crvnh0000gn/T/ipykernel_62318/1391910035.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gaps_df['all_lvls_text']=gaps_df['Skills']

,Skills,skills_original,expected_level,user_level,gap,all_lvls,all_lvls_text
0,Business Needs Analysis,Business Needs Analysis-Level2,2,0,2,"[1, 2]",Business Needs Analysis
6,Data Engineering,Data Engineering-Level3,3,0,3,"[1, 2, 3]",Data Engineering
8,Data Governance,Data Governance-Level4,4,3,1,[4],Data Governance
9,Data Migration,Data Migration-Level3,3,0,3,"[1, 2, 3]",Data Migration
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,3,1,[4],Emerging Technology Synthesis
12,Project Management,Project Management-Level4,4,3,1,[4],Project Management
13,Quality Standards,Quality Standards-Level4,4,3,1,[4],Quality Standards
17,System Integration,System Integration-Level4,4,3,1,[4],System Integration

In [256]:
###match skill name and proficiency level across gaps_df and prof desc df
#def pullprof (all_lvls):  ##for each list (one list per row)
    
for index, row in gaps_df.iterrows():
    for i in row.all_lvls:        ##for i in list
        name= row.Skills+'-Level'+ str(i)
        #find name in skill_prof_df list
        text= skill_prof_df.loc[skill_prof_df['Skill-Level']==name]['clean'].values[0]
        ##print(name,text)
        ## append new text to end of all_lvls_text
        row.all_lvls_text = row.all_lvls_text +' '+ str(text)
        gaps_df.at[index, 'all_lvls_text'] = row.all_lvls_text

In [257]:
gaps_df

,Skills,skills_original,expected_level,user_level,gap,all_lvls,all_lvls_text
0,Business Needs Analysis,Business Needs Analysis-Level2,2,0,2,"[1, 2]",Business Needs Analysis Document business req...
6,Data Engineering,Data Engineering-Level3,3,0,3,"[1, 2, 3]",Data Engineering Implement data management pr...
8,Data Governance,Data Governance-Level4,4,3,1,[4],Data Governance Implement guidelines laws sta...
9,Data Migration,Data Migration-Level3,3,0,3,"[1, 2, 3]",Data Migration Prepare data and perform manua...
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,3,1,[4],Emerging Technology Synthesis Evaluate new an...
12,Project Management,Project Management-Level4,4,3,1,[4],Project Management Plan and drive medium scal...
13,Quality Standards,Quality Standards-Level4,4,3,1,[4],Quality Standards Assess existing quality sta...
17,System Integration,System Integration-Level4,4,3,1,[4],System Integration Determine interoperability...

## creating tags for proficiency description (input for Reco model)

In [265]:
reco_gap= gaps_df[['Skills','all_lvls_text']]

In [267]:
###pre-processing of prof data
##prep df structure as we want to use it as input for reco model
##rename to column headings so it can appended to course data later on
reco_gap.rename(columns = {'Skills': 'course_name'}, inplace = True)
reco_gap.rename(columns = {'all_lvls_text': 'tags'}, inplace = True)
## clean text
reco_gap['tags'] = reco_gap['tags'].str.replace(',',' ')
reco_gap['tags'] = reco_gap['tags'].apply(lambda x:x.lower()) #lower casing the tags column 
##reset index for df
reco_gap=reco_gap.reset_index(level=None, drop=True, inplace=False)

/var/folders/xg/4dfknv856n51lr83nj9crvnh0000gn/T/ipykernel_62318/2453763936.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco_gap['tags'] = reco_gap['tags'].str.replace(',',' ')
/var/folders/xg/4dfknv856n51lr83nj9crvnh0000gn/T/ipykernel_62318/2453763936.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  reco_gap['tags'] = reco_gap['tags'].apply(lambda x:x.lower()) #lower casing the tags column

In [268]:
reco_gap

,course_name,tags
0,Business Needs Analysis,business needs analysis document business req...
1,Data Engineering,data engineering implement data management pr...
2,Data Governance,data governance implement guidelines laws sta...
3,Data Migration,data migration prepare data and perform manua...
4,Emerging Technology Synthesis,emerging technology synthesis evaluate new an...
5,Project Management,project management plan and drive medium scal...
6,Quality Standards,quality standards assess existing quality sta...
7,System Integration,system integration determine interoperability...

if gap is 3 or more--> take expected level(x) and extract half the len(total gap) into 'intermediate list' and the remainding (until x== users current level + 1) into 'beginner list'

# Overlap with other notebook (reco)

### Extract courses data for reco model

In [117]:
coursedata = '/Users/somethingcreative-7/Documents/Tessas Internship/code/coursefeaturesoutput.xlsx'
coursedata = pd.read_excel(coursedata)

In [118]:
new_df_courses=coursedata[['course_name','tags']]
new_df_courses.head()

,course_name,tags
0,Write A Feature Length Screenplay For Film Or ...,write a feature length screenplay for film or ...
1,Business Strategy Business Model Canvas Analys...,business strategy business model canvas analys...
2,Silicon Thin Film Solar Cells,silicon thin film solar cells advanced present...
3,Finance for Managers,finance for managers intermediate number eye f...
4,Retrieve Data using Single-Table SQL Queries,retrieve data using single-table sql queries b...

### TF-IDF

In [124]:
import numpy as np
import pandas as pd
import pandas as pd
import nltk #stemming
from nltk import word_tokenize, pos_tag
from nltk.corpus import stopwords
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('universal_tagset')
nltk.download('reuters')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/somethingcreative-7/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/somethingcreative-7/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package universal_tagset to
[nltk_data]     /Users/somethingcreative-7/nltk_data...
[nltk_data]   Package universal_tagset is already up-to-date!
[nltk_data] Downloading package reuters to
[nltk_data]     /Users/somethingcreative-7/nltk_data...
[nltk_data]   Package reuters is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/somethingcreative-7/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [143]:
#vectorizer
from sklearn.feature_extraction.text import CountVectorizer

In [156]:
#vectorizer
cv = CountVectorizer(max_features=5000,stop_words='english') #vec_tfidf = TfidfVectorizer(min_df = 2, max_df=0.9, stop_words='english')

In [158]:
#stemmer
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [159]:
#defining the stemming function
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

# Model function

In [161]:
from sklearn.metrics.pairwise import cosine_similarity

In [162]:
cv = CountVectorizer()

course_name,Write A Feature Length Screenplay For Film Or Television,Business Strategy Business Model Canvas Analysis with Miro,Silicon Thin Film Solar Cells,Finance for Managers,Retrieve Data using Single-Table SQL Queries,Building Test Automation Framework using Selenium and TestNG,Doing Business in China Capstone,Programming Languages Part A,The Roles and Responsibilities of Nonprofit Boards of Directors within the Governance Process,Business Russian Communication. Part 3,...,Scalable Machine Learning on Big Data using Apache Spark,Capstone Retrieving Processing and Visualizing Data with Python,Patrick Henry Forgotten Founder,Business intelligence and data analytics Generate insights,Rigid Body Dynamics,Architecting with Google Kubernetes Engine Production,Data Governance-Level4,Emerging Technology Synthesis-Level4,Project Management-Level4,Quality Standards-Level4
course_name,,,,,,,,,,,,,,,,,,,,,
Architecting with Google Kubernetes Engine Production,0.007632,0.093885,0.050155,0.105209,0.105996,0.043396,0.025290,0.025472,0.070973,0.045850,...,0.051475,0.042126,0.016519,0.000000,0.061562,1.000000,0.030187,0.040267,0.033277,0.069850
Data Governance-Level4,0.076118,0.060514,0.019057,0.070267,0.347359,0.088883,0.013513,0.007777,0.094528,0.016332,...,0.341709,0.441589,0.047074,0.262486,0.040203,0.030187,1.000000,0.371011,0.306494,0.319895
Emerging Technology Synthesis-Level4,0.113622,0.096299,0.031775,0.083316,0.028779,0.054986,0.100138,0.006916,0.130980,0.061726,...,0.011859,0.167753,0.068025,0.152933,0.042251,0.040267,0.371011,1.000000,0.436695,0.417232
Project Management-Level4,0.083481,0.082759,0.030010,0.081148,0.010193,0.103459,0.109946,0.010206,0.157518,0.032150,...,0.015750,0.111401,0.071043,0.081960,0.046044,0.033277,0.306494,0.436695,1.000000,0.412346
Quality Standards-Level4,0.170738,0.157923,0.036746,0.067101,0.011886,0.080905,0.153854,0.014282,0.128380,0.076481,...,0.022040,0.146443,0.054030,0.134639,0.036244,0.069850,0.319895,0.417232,0.412346,1.000000

### for every skill in one_gap df (where name and tag already clean/processed), run the model on skill name and tags.. push out 1 recommendation list per skill in one_gap df

In [276]:
###iter over df
for index, row in reco_gap.iterrows():
    model_df=new_df_courses
    ###combine prof desc row to courses df to create a main df that goes into TF-IDF and then reco model
    combined=model_df.append(row)
    ###applying vectorisation on tags
    vectors = cv.fit_transform(combined['tags']).toarray()
    ###applying stemming on the tags column
    combined['tags'] = combined['tags'].apply(stem)  
    
    ###TF-IDF###
    count_matrix = cv.fit_transform(combined["tags"])

    ##Compute the Cosine Similarity for all courses to job title (last row) based on the count_matrix
    cosine_sim = cosine_similarity(count_matrix) 
    sim_df = pd.DataFrame(cosine_sim,index=combined.course_name,columns=combined.course_name)
    
    #sort by most similar/ closest datapoint to target job title
    target=row['course_name']
    recommended_courses= sim_df[target].sort_values(ascending=False)[:10]
    recommended_courses=list(recommended_courses.index.values)
    print((index+1),'.','For the competency', recommended_courses[0], ': the top 10 most relevant courses are:', recommended_courses[1:])

1 . For the competency Business Needs Analysis : the top 10 most relevant courses are: ['Business Analysis & Process Management', 'Client Needs and Software Requirements', 'Essentials of Entrepreneurship Thinking & Action', 'Enterprise Architecture', 'Fundamentals of Operations with Goldman Sachs 10 000 Women', 'SRS Documents Requirements and Diagrammatic Notations', 'The Search for Great Ideas Harnessing creativity to empower innovation.', 'Business Process Management in Healthcare Organizations', 'New Models of Business in Society']
2 . For the competency Data Engineering : the top 10 most relevant courses are: ['Big Data Modeling and Management Systems', 'Data Management and Visualization', 'Introduction to Data Analytics', 'Framework for Data Collection and Analysis', 'GIS Data Acquisition and Map Design', 'Data Science Ethics', 'Spatial Analysis and Satellite Imagery in a GIS', 'Spatial Data Science and Applications', 'Big Data Integration and Processing']
3 . For the competency Data Governance : the top 10 most relevant courses are: ['Data Management and Visualization', 'Data Science Ethics', 'Introduction to Data Analytics', 'Big Data Modeling and Management Systems', 'Research Data Management and Sharing', 'SQL for Data Science', 'Merge Sort and Filter Data in Python Pandas', 'Applied Data Science Capstone', 'Security and Privacy for Big Data - Part 2']
4 . For the competency Data Migration : the top 10 most relevant courses are: ['Introduction to Data Analytics', 'Data Management and Visualization', 'Big Data Modeling and Management Systems', 'SQL for Data Science', 'Data Science Ethics', 'Big Data Integration and Processing', 'Applied Data Science Capstone', 'Merge Sort and Filter Data in Python Pandas', 'Spatial Data Science and Applications']
5 . For the competency Emerging Technology Synthesis : the top 10 most relevant courses are: ['Doing Business in Russia', 'AstroTech The Science and Technology behind Astronomical Discovery', 'Innovation and emerging technology Be disruptive', 'Medical Technology and Evaluation', 'The Search for Great Ideas Harnessing creativity to empower innovation.', 'IT Infrastructure and Emerging Trends', 'The Modern and the Postmodern (Part 2)', 'Crafting Strategies for Innovation Initiatives for Corporate Entrepreneurs', 'Gathering and Developing the News']
6 . For the competency Project Management : the top 10 most relevant courses are: ['Initiating and Planning Projects', 'Major Engineering Projects Governance Risk and Scope', 'Engineering Project Management Initiating and Planning', 'Crafting Strategies for Innovation Initiatives for Corporate Entrepreneurs', 'Introduction to Project Management', 'Fundamentals of Project Planning and Management', 'Create a Simple Project Timeline in Google Sheets', 'Project Planning and Machine Learning', 'Managing Project Risks and Changes']
7 . For the competency Quality Standards : the top 10 most relevant courses are: ['Evaluating the Quality of Healthcare Delivery', 'Leading Healthcare Quality and Safety', 'Take the Lead on Healthcare Quality Improvement', 'Quality Improvement in Healthcare Organizations', 'Business Analysis & Process Management', 'Translation quality management', 'Doing Business in Russia', 'Operations Management Strategy and Quality Management for the Digital Age', 'Crafting Strategies for Innovation Initiatives for Corporate Entrepreneurs']
8 . For the competency System Integration : the top 10 most relevant courses are: ['Capstone Autonomous Runway Detection for IoT', 'Planning Auditing and Maintaining Enterprise Systems', 'Operating Systems and You Becoming a Power User', 'Design of High-Performance Optical Systems', 'Embedded Hardware and Operating Systems', 'System Validation (3) Requirements by modal formulas', 'Internet of Things Capstone V2 Build a Mobile Surveillance System', 'Systems Biology and Biotechnology Capstone', 'System Validation Automata and behavioural equivalences']

In [270]:
#create df for output
course_details = pd.DataFrame(columns=['Course Name','University','Difficulty Level','Course Rating','Course URL','Course Description','Skills'])
course_details.head()

Empty DataFrame
Columns: [Course Name, University, Difficulty Level, Course Rating, Course URL, Course Description, Skills]
Index: []

In [271]:
courseradb = pd.read_csv('/Users/somethingcreative-7/Documents/Tessas Internship/code/coursera.csv') #only used to pull out course details for user at the end

In [272]:
for i in recommended_courses[1:]:
    row=courseradb.loc[courseradb['Course Name']==i]
    course_details=course_details.append(row)

In [273]:
course_details.index = np.arange(1, len(course_details) + 1) #reset df index to start from 1
course_details

,Course Name,University,Difficulty Level,Course Rating,Course URL,Course Description,Skills
1,Design of High-Performance Optical Systems,University of Colorado Boulder,Advanced,4.4,https://www.coursera.org/learn/design-high-per...,This course can also be taken for academic cre...,focal (hp-41) order of approximation approxi...
2,Embedded Hardware and Operating Systems,EIT Digital,Advanced,3.9,https://www.coursera.org/learn/embedded-operat...,This course is intended for the Bachelor and M...,internet of things sensor network protocol s...
3,Systems Biology and Biotechnology Capstone,Icahn School of Medicine at Mount Sinai,Advanced,4.2,https://www.coursera.org/learn/systems-biology...,NOTE: In order to take this course you should ...,Business Systems Analysis computational biolo...

#end

In [74]:
listA = gaps_df.loc[gaps_df['gap']<3]
listA

,Skills,skills_original,expected_level,user_level,gap
0,Business Needs Analysis,Business Needs Analysis-Level2,2,0,2
8,Data Governance,Data Governance-Level4,4,3,1
11,Emerging Technology Synthesis,Emerging Technology Synthesis-Level4,4,3,1
12,Project Management,Project Management-Level4,4,3,1
13,Quality Standards,Quality Standards-Level4,4,3,1
17,System Integration,System Integration-Level4,4,3,1

In [70]:
listB = gaps_df.loc[gaps_df['gap']>2]
x

             Skills          skills_original expected_level user_level  gap
6  Data Engineering  Data Engineering-Level3              3          0    3
9    Data Migration    Data Migration-Level3              3          0    3